<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

</head> -->
    <head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {staticPlot: true});;
                }
            });
        }
    </script>
</head>
<body>
    <h1>
        Dashboard
    </h1>
    <hr>
    <img src="{{url_for('static', filename='foo.jpg')}}" align="middle" />
    
    <h1>Count Over Time</h1>
    <h2>Choose the date</h2>
    <p>Make sure you spell it correctly, e.g. 2023-02-04, 2023-02-03</p>
    <input type="text" id="fname" name="fname" onchange="cb(this.value)">
    <div id="chart" class="chart"></div>
</body>
<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
    
</script>
    <script type="text/javascript">
    setTimeout(function () { 
      location.reload();
    }, 300 * 1000);
</script>
</html>